.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: black;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  /* display: block; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-wrapper {
  transition-timing-function: linear;
}

.brd {
  background-image: url(/public/m2.png);
}

@font-face {
  font-family: doggy;
  src: url(/gallery_fonts/GOODDP__.TTF);
}

@font-face {
  font-family: banger;
  src: url(/gallery_fonts/Bangers.ttf) format('truetype');
}
@font-face {
  font-family: kivi;
  src: url(/gallery_fonts/KyivTypeTitling-VarGX.ttf) format('truetype');
}

.dg_text{
  font-family: doggy;
}

.Banger{
  font-family: banger;
}

.kivi_t{
  font-family: kivi;
}