.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: black;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  /* display: block; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-wrapper {
  transition-timing-function: linear;
}

.brd {
  background-image: url(/public/m2.png);
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* .mainImage{
  border: 12px solid transparent;
  border-image-source:url(./border.png);
  border-image-slice: 20; 
  border-image-repeat: round;
} */

@font-face {
  font-family: doggy;
  src: url(../../../../public/gallery_fonts/GOODDP__.TTF);
}

@font-face {
  font-family: banger;
  src: url(../../../../public/gallery_fonts/Bangers.ttf);
}
@font-face {
  font-family: kivi;
  src: url(../../../../public/gallery_fonts/KyivTypeTitling-VarGX.ttf);
}

.dg_text{
  font-family: doggy;
  /* color: #375E5E; */
}

.Banger{
  font-family: banger;
}

.kivi_t{
  font-family: kivi;
}