@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://db.onlinewebfonts.com/c/5f6a1d84be9da8671205d7505c9fad01?family=GoodDog'); 


.about-container{
  /* About */
  position: absolute;
  width: 100vw;
  min-height: 850vh;
  max-height: 1250vh;
  display: flex;
  flex-direction: column;
  background:#D6ECEC;
  gap:8vh

}

.our-team-main-text {
  /* OUR TEAM */
  width: 100%;
  height: 40vh;
  text-align: center;
  padding: auto;
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  font-size: 14em;
  /* identical to box height, or 258px */
  align-self: center;
  background-image: url("/about-texture.png");

  color: #FFFFFF;
  color: color(display-p3 1.000 1.000 1.000);

  text-shadow: -14px 17px 0px #00A478;
  text-shadow: -14px 17px 0px color(display-p3 0.004 0.631 0.482);

}

.our-team-subtext {
  /* The Heroes, the Legends, the Myths */
width: 100%;
height: 10vh;
padding: auto;
margin-top: -10vh;
font-family: 'GoodDog';
font-style: normal;
font-weight: 400;
font-size: 2em ;
/* or 49px */
align-self: center;
text-align: center;
color: #000000;


}

.background-image {
  /* Background Image */
  width: 100vw;
  height: 130vh;
  background-image: url('/about/about-people-2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;


}

.background-image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;/* Adjust this value to change the height of the gradient */
  background: linear-gradient(to top, rgba(214, 236, 236,1), rgba(255, 255, 255, 0));
}

.subsection-title {
  /* Student Council */

width: 100vw;
height: 10vh;

font-family: 'Bangers';
font-style: normal;
font-weight: 400;
font-size: 6em;
align-self: center;
text-align: center;
/* identical to box height, or 99px */

color: #285F5F;

}

.student-council-container{
  /* Members Container */
  margin-top:-5vh;
  width: 100vw;
  min-height: fit-content;
  max-height: 250vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.student-council-leads-container {
  /* Leads */
  top: 10%;
  justify-content: center ;
  gap:5%;

  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: #D6ECEC;
}

.student-council-leads {
  /* Leads */
  margin-top: 1vh;
  width: 250px;
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*background-image: url("/about/FrameMain.png");
  */

}

.student-council-leads .lead-image {
  /* Leads */
  width: 100%;
  object-fit: fill;
  height: fit-content;
  position: relative;
  top: 0;
  left: 0;
}



.student-council-leads .lead-details{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Bangers";
  color:white;
  position: absolute;
  bottom: -75%;
  left: 0;
}

.student-council-leads .lead-details .lead-name{
  font-size: 1.5em;
  color:white;

}

.student-council-leads .lead-details .lead-designation{
  font-size: 1.3em;
  font-family: "GoodDog";
  color:white;

}


.student-council-members-container {
  /* Members */
  justify-content: center ;
  gap:2%;
  width: 90%;
  height: 150vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #D6ECEC;
}

.student-council-members-container .student-council-members {
  /* Members */
  width: 200px;
  height: 250px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/about/FrameMain.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.student-council-members-container .student-council-members .member-image {
  /* Members */
  width: 100%;
  height: max-content;
  position: relative;
  object-fit: fill;
  top: 0;
  left: 0;
}

.student-council-members-container .student-council-members .member-details{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Bangers";
  color:white;
  position: absolute;
  bottom: -70%;
  left: 0;
}

.student-council-members-container .student-council-members .member-details .member-name{
  font-size: 1.5em;
  color:white;

}

.student-council-members-container .student-council-members .member-details .member-designation{
  font-size: 1.3em;
  font-family: "GoodDog";
  color:white;

}


.team-container{
  /* Members Container */
  margin-top:0;
  width: 100vw;
  min-height: 200vh;
  max-height: 300vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15vh;
}

.team-container .team-members-container {
  /* Members */
  justify-content: center ;
  gap:2%;
  width: 90%;
  height: 200vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #D6ECEC;
}

.team-container .team-members-container .team-members {
  /* Members */

  width: 250px;
  height: 335px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/about/FrameMain.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.team-container .team-members-container .team-members .member-image {
  /* Members */
  width: 100%;
  height: fit-content;
  position: relative;
  object-fit: fill;
  bottom: 0;
}

.team-container .team-members-container .team-members .member-details{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Bangers";
  color:white;
  position: absolute;
  bottom: -70%;
  left: 0;
}

.team-container .team-members-container .team-members .member-details .member-name{
  font-size: 1.5em;
  color:white;

}

.team-container .team-members-container .team-members .member-details .member-designation{
  font-size: 1.3em;
  font-family: "GoodDog";
  color:white;

}

@media (max-width: 820px) {
  .about-container {
    min-height: 550vh;
    max-height: 850vh;
    gap: 4vh;
    background-color: #D6ECEC;
  }
  .our-team-main-text {
    font-size: 7em;
    height: 20vh;
  }
  .our-team-subtext {
    height: 5vh;
    font-size: 1em;
    margin-top: -5vh;
  }
  .background-image {
    margin-top: -5vh;
    height: 50vh;
  }

  .subsection-title {
    font-size: 3em;
    height: 5vh;
  }

  .team-container {
    min-height: 210vh;
    max-height: 350vh;
    gap: 7.5vh;
  }
  .team-container .team-members-container .team-members {
    width: 125px;
    height: 167.5px;
  }
  .team-container .team-members-container .team-members .member-details .member-name {
    font-size: 0.75em;
  }
  .team-container .team-members-container .team-members .member-details .member-designation {
    font-size: 0.65em;
  }
  .student-council-container {
    height: 100vh;
    gap: 10vh;
  }
  .student-council-leads-container {
    gap: 4vh;
    flex-wrap: wrap;
  }
  .student-council-leads {
    width: 35vw;
    height: 25vh;
  }
  .student-council-leads .lead-details .lead-name {
    font-size: 0.75em;
  }
  .student-council-leads .lead-details .lead-designation {
    font-size: 0.65em;
  }
}


@media (min-width: 48em) and (max-width: 64em) {
  .about-container {
    min-height: 50vh;
    max-height: 62.5vh;
    gap: 2vh;
  }
  .our-team-main-text {
    font-size: 2.5em;
    height: 15vh;
  }
  .our-team-subtext {
    height: 4vh;
    font-size: 0.9em;
    margin-top: -1vh;
  }
  .background-image {
    margin-top: -1vh;
    height: 40vh;
  }
  .team-container {
    min-height: 45vh;
    max-height: 60vh;
    gap: 3vh;
  }
  .team-container .team-members-container .team-members {
    width: 12.5em;
    height: 16.75em;
  }
  .team-container .team-members-container .team-members .member-details .member-name {
    font-size: 0.7em;
  }
  .team-container .team-members-container .team-members .member-details .member-designation {
    font-size: 0.6em;
  }
  .student-council-container {
    height: 30vh;
    gap: 2em;
  }
  .student-council-leads {
    width: 7.5em;
    height: 10em;
  }
  .student-council-leads .lead-details .lead-name {
    font-size: 0.7em;
  }
  .student-council-leads .lead-details .lead-designation {
    font-size: 0.6em;
  }

}