@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://db.onlinewebfonts.com/c/5f6a1d84be9da8671205d7505c9fad01?family=GoodDog'); 


.about-container{
  /* About */
  position: absolute;
  width: 100vw;
  height: 1250vh;
  display: flex;
  flex-direction: column;
  background: #D6ECEC;
  background: color(display-p3 0.855 0.922 0.925);
  gap:20vh

}

.our-team-main-text {
  /* OUR TEAM */
  width: 100%;
  height: 40vh;
  text-align: center;
  padding: auto;
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  font-size: 250.027px;
  line-height: 103%;
  /* identical to box height, or 258px */
  align-self: center;

  color: #FFFFFF;
  color: color(display-p3 1.000 1.000 1.000);

  text-shadow: -14px 17px 0px #00A478;
  text-shadow: -14px 17px 0px color(display-p3 0.004 0.631 0.482);

}

.our-team-subtext {
  /* The Heroes, the Legends, the Myths */
width: 100%;
height: 10px;
padding: auto;
margin-top: -10vh;
font-family: 'GoodDog';
font-style: normal;
font-weight: 400;
font-size: 4em ;
/* or 49px */
align-self: center;
text-align: center;
color: #000000;


}

.background-image {
  /* Background Image */
  margin-top: -10vh;
  width: 100vw;
  height: 1500px;
  background-image: url('/about-people-2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;


}

.background-image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;/* Adjust this value to change the height of the gradient */
  background: linear-gradient(to top, rgba(214, 236, 236,1), rgba(255, 255, 255, 0));
}

.subsection-title {
  /* Student Council */

width: 100vw;
height: 10vh;

font-family: 'Bangers';
font-style: normal;
font-weight: 400;
font-size: 96px;
align-self: center;
text-align: center;
/* identical to box height, or 99px */

color: #285F5F;

}

.student-council-container{
  /* Members Container */
  width: 100vw;
  height: 250vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.student-council-leads-container {
  /* Leads */
  top: 10%;
  justify-content: center ;
  gap:2%;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  background: #D6ECEC;
}

.student-council-leads {
  /* Leads */
  width: 300px;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/FrameMain.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.student-council-leads .lead-image {
  /* Leads */
  width: 100%;
  object-fit: fill;
  height: fit-content;
  position: relative;
  top: 0;
  left: 0;
}



.student-council-leads .lead-details{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Bangers";
  color:white;
  position: absolute;
  bottom: -75%;
  left: 0;
}

.student-council-leads .lead-details .lead-name{
  font-size: 1.5em;
  color:white;

}

.student-council-leads .lead-details .lead-designation{
  font-size: 1.3em;
  font-family: "GoodDog";
  color:white;

}


.student-council-members-container {
  /* Members */
  justify-content: center ;
  gap:2%;
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #D6ECEC;
}

.student-council-members-container .student-council-members {
  /* Members */
  width: 200px;
  height: 250px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/FrameMain.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.student-council-members-container .student-council-members .member-image {
  /* Members */
  width: 100%;
  height: max-content;
  position: relative;
  object-fit: fill;
  top: 0;
  left: 0;
}

.student-council-members-container .student-council-members .member-details{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Bangers";
  color:white;
  position: absolute;
  bottom: -70%;
  left: 0;
}

.student-council-members-container .student-council-members .member-details .member-name{
  font-size: 1.5em;
  color:white;

}

.student-council-members-container .student-council-members .member-details .member-designation{
  font-size: 1.3em;
  font-family: "GoodDog";
  color:white;

}


.team-container{
  /* Members Container */
  width: 100vw;
  min-height: 220vh;
  max-height: 300vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15vh;
}

.team-container .team-members-container {
  /* Members */
  justify-content: center ;
  gap:2%;
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #D6ECEC;
}

.team-container .team-members-container .team-members {
  /* Members */
  width: 250px;
  height: 335px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/FrameMain.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.team-container .team-members-container .team-members .member-image {
  /* Members */
  width: 100%;
  height: fit-content;
  position: relative;
  object-fit: fill;
  bottom: 0;
}

.team-container .team-members-container .team-members .member-details{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Bangers";
  color:white;
  position: absolute;
  bottom: -70%;
  left: 0;
}

.team-container .team-members-container .team-members .member-details .member-name{
  font-size: 1.5em;
  color:white;

}

.team-container .team-members-container .team-members .member-details .member-designation{
  font-size: 1.3em;
  font-family: "GoodDog";
  color:white;

}