@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


.HeroTextMain {
    text-shadow:
    2px 2px 0 #E9F8E8,
    -2px 2px 0 #E9F8E8,
    -2px -2px 0 #E9F8E8,
    2px -2px 0 #E9F8E8;
}

.customcursor{
    backdrop-filter: grayscale();
}
.MAIN{
    /* backdrop-filter: grayscale(); */
    
}

.mask {
    position: absolute;
    mask-image: url('/tech/circle.svg');
    background-color: rgba(202, 91, 91, 0);
    mask-repeat: no-repeat;
    mask-size:35rem;
    /* -webkit-mask-image: radial-gradient(circle, black 50%, transparent ); */
    /* mask-image: radial-gradient(circle, black , transparent); */
    
  }
