*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
@font-face {
    font-family: nav-font;
    src: url('./GoodDog\ Plain\ Regular.ttf');
}
.nav-main{
    justify-content: space-between;
    align-items: center;
}
.nav-part1{
    display: none;
}
.nav-items-main{
    display: none;
    align-items: center;
    justify-content: space-around;
}
.nav-burger{
    height: 4vh;
    width: 4vh;
}
.nav-cross{
    height: 6vw;
    width: 6vw;
    display: none;
}
.nav-items-main1{
    font-family: nav-font;
    font-size: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 70vh;
    margin-right: 10vw;
}
.nav-items-main2{
    font-family: nav-font;
    font-size: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 30vh;
    margin-right: 10vw;
    margin-bottom: 5vw;
    border-radius: 15px;
    box-shadow: 0px 10.890584945678711px 217.81170654296875px -5.4452924728393555px #00000057;
}
.nav-items:hover{
    background-color: rgba(55, 94, 94, 1);
    padding: 1vw 5vw;
    border-radius: 30px;
}
.nav-items2:hover{
    background-color: rgba(55, 94, 94, 1);
    padding: 1vw 15vw;
    border-radius: 30px;
    background-image: url('./Intersect.png');
    background-repeat: repeat;
    background-size: cover;
}


@media only screen and (max-width: 700px) {
    .nav-part1{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

